// -------------------------------
// TYPE
// -------------------------------

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  @media #{$large-up} {
    font-size: calc(100vw / 65);
  }
}

.wf-loading {
  opacity: 0;
  visibility: hidden;
}

.wf-active {
  opacity: 1;
  transition: opacity 500ms ease;
  visibility: visible;
}

.wf-inactive {
  font-family: system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  transition: opacity 500ms ease;
  visibility: visible;
  @media #{$medium-up} {
    font-size: 18px;
  }
  @media #{$xxlarge-up} {
    font-size: 21px;
  }
}

body {
  font-family: $serif;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.2;
}
