// -------------------------------
// TYPE
// -------------------------------

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  @media #{$large-up} {
    font-size: calc(100vw / 65);
  }
}

.wf-loading {
  opacity: 0;
  visibility: hidden;
}

.wf-active {
  opacity: 1;
  transition: opacity 500ms ease;
  visibility: visible;
}

.wf-inactive {
  font-family: system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  transition: opacity 500ms ease;
  visibility: visible;
  @media #{$medium-up} {
    font-size: 18px;
  }
  @media #{$xxlarge-up} {
    font-size: 21px;
  }
}

body {
  color: $text-color;
  font-family: $serif;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.2;
}

// -------------------------------
// Text
// -------------------------------

h1,
h2,
h3 {
  color: $heading-color;
}

p {
  font-size: 1.1rem;
  line-height: 1.35;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.entry__content,
.page__content {
  > * + * {
    margin-top: 1.1rem;
  }
}

ul {
  li {
    font-size: .9rem;
    + li {
      margin-top: .5rem;
    }
  }
}

// -------------------------------
// Inline Type
// -------------------------------
em {
  font-style: italic;
}

// -------------------------------
// Hr
// -------------------------------

hr {
  border: solid #EEE;
  border-width: 1px 0 0;
  margin: 1.2rem 0;
}

// -------------------------------
// Links
// -------------------------------
a {
  color: $primary-color;
  text-decoration: none;
  text-decoration-skip: ink;
  &:hover,
  &:focus {
    color: lighten($primary-color, 5%);
  }
}
