// -------------------------------
// HEADER
// -------------------------------
.header {
  font-family: $sans;
  padding: .8rem 0 .8rem 2rem;
}

.header__navigation {
  a {
    color: lightgoldenrodyellow;
    text-decoration: none;
    &:hover,
    &:focus {
      color: darken(lightgoldenrodyellow, 5%);
    }
  }
  ul li + li {
    margin-top: 0;
  }
}
