// -------------------------------
// PAGES
// -------------------------------

.page__header {
  margin-bottom: 1.5rem;
}

.page-header__title {
  font-size: 3rem;
  font-weight: 300;
  @media #{$medium-up} {
    grid-column: 2;
  }
}
